* {
    font-family: Calibri, sans-serif;
    background-color: white;
}

body {
    padding: 1%;
}

img.logo {
    padding: 2%;
    height: 150px;
    width: 150px;
}

img.me {
    padding: 3%;
    height: 300px;
    width: 300px;
}

.green-background {
    background-color: #2ecc71;
  }

img.svg {
    padding: 2%;
    height: 50px;
    width: 50px;
}

.footer {
    text-align: center;
}
