/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Ubuntu' , sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.2;
    padding: 1%;
    background-color: #ffffff;
    color: #000000;

}
img.me {
    padding: 3%;
    height: 300px;
    width: 300px;
}

.green-background {
    background-color:#000000;
    color:#ffffff;
  }

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none !important;
    color: #860214;
    font-size: 18px;
    font-weight: 700;
}

a:visited {
    color: black;
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: #fff;
}

button {
    border: none;
    font-family: inherit;
    background-color: #1a6104;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solidrgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.6;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
.logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 600px;
            flex: 0 1 600px;
}
  
.logo:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
  
.navigation-list {
    list-style-type: none;
    padding: 3%;
}
  
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.exp-content{
    text-align: center;
}

.about-me-body{
    text-align: center;
}

main {
    text-align: center;
    margin: 0 auto;
}

.about-body {
    text-align: center;
    margin: 0 auto;
}

.contact-body {
    text-align: center;
    margin: 0 auto;
}

.table-skill {
    text-align: center;
    margin: 0 auto;
}

.nobull {
    list-style-type: none;
}


.profile-image
{
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.index-main {
    max-width: 700px;
    margin: 0 auto;
}

.footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.work-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.work-list__item {
    background-color: lightgray;
    padding: 5px;
}

/* for the responsiveness */

@media all and (max-width: 360px) {
	.logo {
		bottom: 0;
	}
	.navigation-list {
		font-size: 5px;
	}
}

@media all and (max-width: 585px) {
	.work-list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.logo {
		bottom: 10px;
	}
	.navigation-list {
		font-size: 15px;
	}
}

@media all and (min-width: 585px) and (max-width: 750px) {
	.work-list {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.work-list {
		grid-gap: 10px;
	}
	.work-list__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}
/* Come back and work on this section some more */
@media all and (min-width: 900px) {

	.main-navigation {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 300px;
		        flex: 0 1 300px;
	}
}

  
.planePath {
stroke: #000000;
stroke-width: .1%;
stroke-width: .5%;
stroke-dasharray: 1% 2%;
stroke-linecap: round;
fill: none;
}

.fil1 {
fill: #0b0e0e;
}

.fil2 {
fill: #090a0a;
}

.fil4 {
fill: #303333;
}

.fil3 {
fill: #0f1011;
}